{% extends 'food_cloud/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Register as User
{% endblock %}

{% block body_block %}
<!-- 	<script type="text/javascript">
		function dynInput(cbox) {
			if (cbox.checked) {
				var restaurant_name = document.createElement("input");
				restaurant_name.type = "text";
				restaurant_name.name = "restaurant_name";
				var div = document.createElement("div");
				div.id = cbox.name;
				div.innerHTML = "Restaurant name: ";
				div.appendChild(restaurant_name);
				document.getElementById("insertinputs").appendChild(div);
			} else {
				document.getElementById(cbox.name).remove();
			}
		}
	</script> -->

	<div class="jumbotron p-4">
		<div class="container">
			<h1 class="jumbotron-heading">Register as User</h1>
		</div>
	</div>
	
	<div class="container">
		<div class="row">
		<div class="form-group" >
		<form role="form" method="post" action=".">
			{% csrf_token %}
			<div class="form-group">
			<p class="required"><label class="required" for="id_username">
				Username:</label>
			<input class="form-control" id="id_username" maxlength="30"
				name="username" type="text" />
			<span class="helptext">
				Required. 30 characters or fewer.
				Letters, digits and @/./+/-/_ only.
			</span>
			</p>
			<p class="required"><label class="required" for="id_email">
				E-mail:</label>
			<input class="form-control" id="id_email" name="email_address"
				type="email" />
			</p>
			<p class="required"><label class="required" for="id_password1">
				Password:</label>
			<input class="form-control" id="id_password1" name="password1"
				type="password" />
			</p>
			<p class="required">
			<label class="required" for="id_password2">
				Password confirmation:</label>
			<input class="form-control" id="id_password2" name="password2"
				type="password" />
			<span class="helptext">
				Enter the same password as before, for verification.
			</span>
			</p>
			
<!-- 			<input type="checkbox" name="isRestaurant" onclick="dynInput(this);" style="float: left; margin-top: 5px;" />
			<div style="margin-left: 25px;">
				I'm registering as a restaurant owner.
			</div>
			<p id="insertinputs"></p> -->
			
			</div>
			<input type="submit"/>
		</form>
		
		{% comment %} <form method="post" action=".">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Register" />
</form> {% endcomment %}
		</div>
	</div>
	</div>
{% endblock %}