{% extends 'food_cloud/base.html' %}
{% load staticfiles %}

{% block title_block %}
	<!--Title block -->
	Add Category
{% endblock %}

{% block body_block %}
	<!--Body block -->
	<div class="jumbotron p-4">
		<div class="container">
			<h1 class="jumbotron-heading">Add a category</h1>
		</div>
	</div>
		
	<div class="container">
		<div class="row">
			<form role="form" id="category_form" method="post" action="{% url 'food_cloud:add_category' %}">
			{% csrf_token %}
			{% for hidden in form.hidden_fields %}
				{{ hidden }}
			{% endfor %}
			{% for field in form.visible_fields %}
				{{ field.errors }}
				{{ field.help_text }}<br />
				{{ field }}<br />
				<div class="p-2"></div>
			{% endfor %}
				<br />
				<button class="btn btn-primary" type="submit" name="submit">
					Create Category
				</button>
				<div class="p-5"></div>
			</form>
		</div>
	</div>
		
		<div>
			<form id="category_form" method="post" action="/food_cloud/add_category/">
				{% csrf_token %}
				{% for hidden in form.hidden_fields %}
					{{ hidden }}
				{% endfor %}
				{% for field in form.visible_fields %}
					{{ field.errors }}
					{{ field.help_text }}
					{{ field }}
				{% endfor %}
				<input type="submit" name="submit" value="Create Category" />
			</form>
		</div>
{% endblock %}