{% extends 'food_cloud/base.html' %}
{% load staticfiles %}

{% block title_block %}
Homepage
{% endblock %}

{% block body_block %}
<div class="jumbotron p-2">
	<div class="container">
		<div>
			<h2 class="h2">
				Welcome to Food Cloud - Home for all Foodies
			</h2>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-8 offset-md-3">
			<form class="form-inline" id="user-form" method="POST"
				action="{% url 'food_cloud:search_restaurants' %}">
				{% csrf_token %}
				<div class="form-group">
					<input class="form-control" type="text" size="50" name="query" id="query"
						value="{{ query }}" />
				</div>
				<button class="btn btn-primary" type="submit" name="submit">Search</button>
			</form>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<div class="card mb-4">
				<div class="card-body">
					<h2 style="text-align: center;">Featured Restaurants</h2>
					<p class="card-text">
						{% if restaurants %}
						<ul class="list-group">
							{% for restaurant in restaurants %}
							<li class="list-group-item">
								<div class="row">
									<div class="column">
										<h4>{{ restaurant.restaurant_name }}</h4>
										<h5>{{ restaurant.type }}</h5>
									</div>
									<div class="column">
										<h6 style="text-align: center;"><a
												href="{% url 'food_cloud:show_restaurant' restaurant.slug %}"
												class="col-4">Order from this restaurant</a></h6>
									</div>
								</div>
							</li>
							{% endfor %}
						</ul>
						{% else %}
						<strong>There are no restaurants present.</strong>
						{% endif %}
					</p>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="card">
				<div class="card-body">
					<h2 style="text-align: center;">Popular Meals</h2>
					<p class="card-text">
						{% if meals %}
						<ul class="list-group">
							{% for meal in meals %}
							<li class="list-group-item">
								<ul class="list-group">
									<img src={{ meal.picture }} />
									<li class="list-group-item">
										<div class="column">
											<h4>{{ meal.meal_name }}</h4>
										</div>
										<div class="column" style="text-align: right;">
											<h6 style="color: orangered;">£{{ meal.price }}</h6>
										</div>
									</li>
									{% if user.is_authenticated %}
									<li class="list-group-item">
										<div class="column">{{ meal.description }}</div>
										<div class="column" style="text-align: right;">
											<p><a href="" onclick="return false;"
													class="col-3"><span class="order_button"
														href="{% url 'food_cloud:add_order' meal.slug meal.restaurant_slug %}">Order</span></a>
											</p>
										</div>
									</li>
									{% else %}
									<li class="list-group-item">{{ meal.description }}</li>
									{% endif %}
								</ul>
							</li>
							{% endfor %}
						</ul>
						{% else %}
						<strong>There are no meals present.</strong>
						{% endif %}
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		{% if user.is_authenticated %}
		<div class="col-md-6">
			<div class="card">
				<div class="card-body">
					<h2 style="text-align: center;">Favourite Meals</h2>
					<p class="card-text">
						{% if favorites %}
						<ul class="list-group">
							{% for favorite in favorites %}
							<li class="list-group-item">
								<div class="column"><img src={{ favorite.meal.picture }} /></div>
								<div class="column">
									<h4>{{ favorite.meal.meal_name }}</h4>
									<h5>${{ favorite.meal.price }}</h5>
									<p><a href="" onclick="return false;" class="col-3">
											<span class="order_button"
												href="{% url 'food_cloud:add_order' favorite.meal.slug favorite.meal.restaurant_slug %}">Order</span>
										</a>
										<a href="{% url 'food_cloud:remove_favourite' favorite.meal.slug %}"
											class="col-3">Unfavourite</a>
									</p>
								</div>
							</li>


							{% endfor %}
						</ul>
						{% else %}
						<strong>There are no meals present.</strong>
						{% endif %}
					</p>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="card">
				<div class="card-body">
					<h2 style="text-align: center;">Past Orders</h2>
					<p class="card-text">
						{% if orders %}
						<ul class="list-group">
							{% for order in orders %}
							<li class="list-group-item">
								<ul class="list-group">
									<li class="list-group-item">{{ order.meal.meal_name }}</li>
									<li class="list-group-item">Date: {{ order.date }}</li>
									<li class="list-group-item">Amount: {{ order.amount }}</li>
									<li class="list-group-item">
										<span>
											<p>Current Rating: {{ order.meal.average_rating }}</p>
											<a href="" onclick="return false;" class="col-3">
												<span class="rating"
													href="{% url 'food_cloud:rate_meal' order.meal.slug order.meal.restaurant_slug %}">Rate</span>
											</a>
										</span>
									</li>
								</ul>
							</li>
							{% endfor %}
						</ul>
						{% else %}
						<strong>There are no orders present.</strong>
						{% endif %}
					</p>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
</div>

{% block extrajs %}
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}
{% endblock %}