{% extends 'food_cloud/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Homepage
{% endblock %}

{% block body_block %}
		<div class="jumbotron p-2">
			<div class="container">
				<div>
					<h2 class="h2">
					{% if user.is_authenticated %}
					Logged in version of Homepage
					{% else %}
					No logged in user, base version of Homepage
					{% endif %}
					</h2>
					<strong>{{ boldmessage }}</strong>
				</div>
			</div>
		</div>
		
		{% if user.is_authenticated %}
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-4">
					<div class="card mb-4">
						<div class="card-body">
							<h2>Meals for logged in(WIP)</h2>
							<p class="card-text">
							{% if categories %}
							<ul class="list-group">
							{% for category in categories %}
								<li class="list-group-item">
								<a href="{% url 'food_cloud:show_category' category.slug %}">
								{{ category.name }}</a>
								</li>
							{% endfor %}
							</ul>
							{% else %}
							<strong>There are no categories present.</strong>
							{% endif %}
							</p>
						</div>
					</div>
				</div>
				
				<div class="col-md-4">
					<div class="card mb-4">
						<div class="card-body">
							<h2>Featured Restaurants(WIP)</h2>
							<p class="card-text">
							{% if restaurants %}
							<ul class="list-group">
							{% for restaurant in restaurants %}
							<div class="row">
							<p class="col-4">{{ restaurant.restaurant_name }}</p>
							<p class="col-4">{{ restaurant.type }}</p>
							<a href="" class="col-4">Order from this restaurant</a>
							</div>
								{% comment %} <li class="list-group-item">
									<ul class="list-group">
										<li class="list-group-item">{{ restaurant.restaurant_name }}</li>
										<li class="list-group-item">{{ restaurant.type }}</li>
										<li class="list-group-item"><a href="">Order from this restaurant</a></li>
									</ul>
								</li> {% endcomment %}
							{% endfor %}
							</ul>
							{% else %}
							<strong>There are no restaurants present.</strong>
							{% endif %}
							</p>
						</div>
					</div>
				</div>
				
				<div class="col-md-4">
					<div class="card mb-4">
						<div class="card-body">
							<h2>Favourites(WIP)</h2>
							<p class="card-text">
							{% if meals %}
							<ul class="list-group">
							{% for meal in meals %}
								<li class="list-group-item">
									<ul class="list-group">
										<li class="list-group-item">{{ meal.meal_name }}</li>
										<li class="list-group-item">{{ meal.description }}</li>
										<li class="list-group-item"><a href="{% url 'food_cloud:add_order' meal.slug %}">Order</a></li>
									</ul>
								</li>
							{% endfor %}
							</ul>
							{% else %}
							<strong>There are no meals present.</strong>
							{% endif %}
							</p>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="card mb-4">
						<div class="card-body">
							<h2>Orders(WIP)</h2>
							<p class="card-text">
							{% if orders %}
							<ul class="list-group">
							{% for order in orders %}
								<li class="list-group-item">
									<ul class="list-group">
										<li class="list-group-item">{{ order.meal.meal_name }}</li>
										<li class="list-group-item">{{ order.date }}</li>
									</ul>
								</li>
							{% endfor %}
							</ul>
							{% else %}
							<strong>There are no orders present.</strong>
							{% endif %}
							</p>
						</div>
					</div>
				</div>

				
			</div>
		</div>
		{% else %}
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-4">
					<div class="card mb-4">
						<div class="card-body">
							<h2>Meals for not logged in(WIP)</h2>
							<p class="card-text">
							{% if meals %}
							<ul class="list-group">
							{% for meal in meals %}
								<li class="list-group-item">
									<ul class="list-group">
										<li class="list-group-item">{{ meal.meal_name }}</li>
										<li class="list-group-item">{{ meal.description }}</li>
									</ul>
								</li>
							{% endfor %}
							</ul>
							{% else %}
							<strong>There are no meals present.</strong>
							{% endif %}
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-8">
				</div>
			</div>
		</div>
		{% endif %}
		
		<div>
			<img src="{% static 'images/food_cloud.jpg' %}" alt="Picture of food_cloud" />
		</div>
{% endblock %}