{% extends 'food_cloud/base_restaurant.html' %}
{% load staticfiles %}

{% block title_block %}
	Homepage
{% endblock %}

{% block body_block %}
		<div class="jumbotron p-2">
			<div class="container">
				<h1 class="jumbotron-heading">food_cloud says...</h1>
				<div>
					<h2 class="h2">
					{% if user.is_authenticated %}
					Logged in version of Homepage for Restaurants
					{% else %}
					No logged in user, base version of Homepage
					{% endif %}
					</h2>
					<strong>{{ boldmessage }}</strong>
				</div>
			</div>
		</div>
		
		{% if user.is_authenticated %}
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6">
					<div class="card mb-4">
						<div class="card-body">
							<h2>Meals for logged in(WIP)</h2>
							<p class="card-text">
							{% if meals %}
							<ul class="list-group">
							{% for meal in meals %}
								<li class="list-group-item">
									<ul class="list-group">
										<img src={{ meal.picture }}/>
										<li class="list-group-item">{{ meal.meal_name }}</li>
										<li class="list-group-item">£{{ meal.price }}</li>
										<li class="list-group-item">{{ meal.description }}</li>
									</ul>
								</li>
							{% endfor %}
							</ul>
							{% else %}
							<strong>There are no meals present.</strong>
							{% endif %}
							</p>
						</div>
					</div>
				</div>
				
				<div class="col-md-6">
					<div class="card mb-4">
						<div class="card-body">
							<h2>Meals(WIP)</h2>
							<p class="card-text">
							{% if meals %}
							<ul class="list-group">
							{% for meal in meals %}
								<li class="list-group-item">
									<ul class="list-group">
										<img src={{ meal.picture }}/>
										<li class="list-group-item">{{ meal.meal_name }}</li>
										<li class="list-group-item">£{{ meal.price }}</li>
										<li class="list-group-item">{{ meal.description }}</li>
									</ul>
								</li>
							{% endfor %}
							</ul>
							{% else %}
							<strong>There are no meals present.</strong>
							{% endif %}
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% else %}
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<div class="card mb-4">
						<div class="card-body">
							<h2>Meals for not logged in(WIP)</h2>
							<p class="card-text">
							{% if meals %}
							<ul class="list-group">
							{% for meal in meals %}
								<li class="list-group-item">
									<ul class="list-group">
										<img src={{ meal.picture }}/>
										<li class="list-group-item">{{ meal.meal_name }}</li>
										<li class="list-group-item">£{{ meal.price }}</li>
										<li class="list-group-item">{{ meal.description }}</li>
									</ul>
								</li>
							{% endfor %}
							</ul>
							{% else %}
							<strong>There are no meals present.</strong>
							{% endif %}
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endif %}
		
		<div>
			<img src="{% static 'images/food_cloud.jpg' %}" alt="Picture of food_cloud" />
		</div>
{% endblock %}
