{% extends 'food_cloud/base.html' %}
{% load staticfiles %}

{% block title_block %}
Homepage
{% endblock %}

{% block body_block %}
<div class="jumbotron p-2">
	<div class="container">
		<div>
			<h2 class="h2">
				{% if user.is_authenticated %}
				Logged in version of Homepage
				{% else %}
				No logged in user, base version of Homepage
				{% endif %}
			</h2>
			<strong>{{ boldmessage }}</strong>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-8 offset-md-3">
			<form class="form-inline" id="user-form" method="POST"
				action="{% url 'food_cloud:search_restaurants' %}">
				{% csrf_token %}
				<div class="form-group">
					<input class="form-control" type="text" size="50" name="query" id="query"
						value="{{ query }}" />
				</div>
				<button class="btn btn-primary" type="submit" name="submit">Search</button>
			</form>
		</div>
	</div>

	<div class="col-md-4">
		<div class="card mb-4">
			<div class="card-body">
				<h2>Featured Restaurants(WIP)</h2>
				<hr />
				<p class="card-text">
					{% if restaurants %}
					<ul class="list-group">
						{% for restaurant in restaurants %}
						<div>
							<p><span>
									<h3>{{ restaurant.restaurant_name }}</h3>
									<h5>{{ restaurant.type }}</h5>
								</span></p>
							<!-- <h3>
								<p>{{ restaurant.restaurant_name }}</p>
								<p>{{ restaurant.type }}</p>
							</h3> -->
							<a href="{% url 'food_cloud:show_restaurant' restaurant.slug %}"
								class="col-4">Order from this restaurant</a>
						</div>
						{% endfor %}
					</ul>
					{% else %}
					<strong>There are no restaurants present.</strong>
					{% endif %}
				</p>
			</div>
		</div>
	</div>

	<div class="col-md-4">
		<div class="card mb-4">
			<div class="card-body">
				<h2>Popular Meals</h2>
				<p class="card-text">
					{% if meals %}
					<ul class="list-group">
						{% for meal in meals %}
						<li class="list-group-item">
							<ul class="list-group">
								<img src={{ meal.picture }} />
								<li class="list-group-item">{{ meal.meal_name }}</li>
								<li class="list-group-item">{{ meal.description }}</li>
								{% if user.is_authenticated %}
								<button class="order_button"><span class="order_link"
										href="{% url 'food_cloud:add_order' meal.slug meal.restaurant_slug %}">Order</span></button>
								{% endif %}
							</ul>
						</li>
						{% endfor %}
					</ul>
					{% else %}
					<strong>There are no meals present.</strong>
					{% endif %}
				</p>
			</div>
		</div>
	</div>
	{% if user.is_authenticated %}
	<div class="row">
		<div class="col-md-4">
			<div class="card mb-4">
				<div class="card-body">
					<h2>Favorite Meals</h2>
					<p class="card-text">
						{% if favorites %}
						<ul class="list-group">
							{% for favorite in favorites %}
							<li class="list-group-item">
								{{favorite.meal}}
							</li>
							{% endfor %}
						</ul>
						{% else %}
						<strong>There are no categories present.</strong>
						{% endif %}
					</p>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="card mb-4">
				<div class="card-body">
					<h2>Recent Orders</h2>
					<p class="card-text">
						{% if orders %}
						<ul class="list-group">
							{% for order in orders %}
							<li class="list-group-item">
								<ul class="list-group">
									<li class="list-group-item">{{ order.meal.meal_name }}</li>
									<li class="list-group-item">{{ order.date }}</li>
									<li class="list-group-item">{{ order.amount }}</li>
									<li class="list-group-item">
										<span>
											<p>Current Rating: {{ order.meal.average_rating }}</p>
											<button class="rating"
												href="{% url 'food_cloud:rate_meal' order.meal.slug order.meal.restaurant_slug %}">Rate</button>
										</span>
									</li>
								</ul>
							</li>
							{% endfor %}
						</ul>
						{% else %}
						<strong>There are no orders present.</strong>
						{% endif %}
					</p>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
</div>
<div>
	<img src="{% static 'images/food_cloud.jpg' %}" alt="Picture of food_cloud" />
</div>

{% block extrajs %}
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}
{% endblock %}