{% extends 'food_cloud/base.html' %}
{% load staticfiles %}

{% block title_block %}

	{% if restaurant %}
		{{ restaurant.name }}
	{% else %}
		Unknown Restaurant
	{% endif %}
	
{% endblock %}

{% block body_block %}

		<div class="jumbotron p-4">
			<div class="container">
				{% if restaurant %}
					<h1>{{ restaurant.restaurant_name }}</h1>
					<h1>{{ restaurant.description }}</h1>
				{% else %}
					The specified restaurant does not exist.
				{% endif %}
			</div>
		</div>
		
		<li class="nav-item"><a class="nav-link" href="{% url 'food_cloud:add_meal' %}">Add Meal</a></li>

		<div class="col-md-6 offset-md-3">
					<div class="card mb-4">
						<div class="card-body">
							<h2>Featured Meals</h2>
							<p class="card-text">
							{% if meals %}
							<ul class="list-group">
							{% for meal in meals %}
							<div class="row">
							    <p class="col-4">{{ meal.meal_name }}</p>
							    <p class="col-4">{{ meal.price }}</p>
							    <a href="" class="col-4">Order</a>
						    </div>
							<div class="row">
								<p class="col-12">{{ meal.description }}</p>
							</div>
							{% endfor %}
							</ul>
							{% else %}
							<strong>There are no meals present.</strong>
							{% endif %}
							</p>
						</div>
					</div>
				</div>

{% endblock %}